<!-- public/views/home.html -->
<div class="inner-col">
	<div class="jumbotron text-center">
		<h1>Welcome to scepter</h1>
		<p>{{ tagline }}</p>
	</div>
</div>
<div class="slides col-sm-10 col-sm-offset-1">
  <section class="hero">
    <div>
      <div class="col-xs-11 col-sm-10">
		<h1 class="hero-head">Scepter<br>An ultra-light UI framework<br>built for designers</h1>
        <p class="lead">This lightweight UI framework is intended for intermediate designers looking for a quick tool encouraging custom design</p>
        <p><a href="#" target="_blank" class="btn btn-lg btn-primary-hero hidden-xs hidden-sm" role="button">Download v0.0.4</a>
        <a href="#" target="_blank" class="btn btn-lg btn-special-rev" role="button"></span>Github documentation</a></p>
      </div>
      <div class="img"></div>
    </div>
  </section>
</div>