/* App.css */

ul {
  margin-top: 1rem;
}

dd, dt {
  line-height: 1.5;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1.5rem;
}

.navbar-brand {
  margin-right: auto;
  margin-left: auto;
  font-size: 1rem;
}

.text-footer {
  font-size: 80%;
}

/* Blockquote */
blockquote {
  padding-left: 1.5rem;
  border-left: 0.35rem solid rgba(255,255,255,0.25); /* variable */
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-brand {
    margin-left: 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* Extra Extra small devices devices */
@media (max-width:348px) {}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* Extra large devices (large desktops)*/
/* No media query since the extra-large breakpoint has no upper bound on its width */

/* Pattern Library */
/* .typetemplate-boxy classes are for typography testing purposes only */

.typetemplate-boxy-img-box {
  height: 325px;
  background-color: #212121;
  margin: 2.75rem auto;
}

.typetemplate-boxy-line {
  height: 1px;
  width: 50%;
  background-color: #424242;
  margin: 5.5rem auto;
}

.pattern-library-typography-footnote {
  font-size: 0.8rem;
  color: rgba(255,255,255,0.5);
}

.pattern-libarary-typography-code {
  color: #000; 
  font-weight: 600;
  background-color: #E0E0E0;
  border-radius: 2px;
  padding: 2px 3px 1px 3px;
  margin: auto 3px;
}

/* End typography testing */
