/* Buttons */

.btn {
  font-weight: 600;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 22px;
  white-space: nowrap;
  text-decoration: none;
}

.btn-white {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.btn-white:hover, 
.btn-white:focus, 
.btn-white:focus-within,
.btn-white:active {
  background-color: transparent;
  color: #fff!important;
}